*{
	margin: auto;
	padding: auto;
	font-family: electrolize;
}

.navlogo1 {
    width: 80px;
	margin-left: 1%;
}

.navlogo1 img {
    width: 80px;
}

					/* Home Page */

.mainhp {
    
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
}
.mainlist {
    
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
}
.main {
    width: 100%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 62px;
    font-style: normal;
    font-weight: 400;
}

.gridhp1 img{
	width: 100%;
}

.gridhp2 img{
	width: 100%;
}

.gridhp1 {
	display: grid;
  	grid-template-columns: 50% 50%;
}

.gridhp2 {
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

.hpd {
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

					/* Footer */

footer {
    height: 200px;
    background-color: #374448;
    margin-top: 25px;
}

.aboutf{
	margin-top: 70px;
}

.fgrid{
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    color: #F2F0ED;
    height: 150px;
}
.fp{
    font-size: large;
    margin-top: 5%;
    padding-left: 20px;
    padding-right: 20px;
}

.fp img {
    width: 70px;
}
hr {
    background-color: #FCFBFB;
	width: 200px;
}

.crf {
    text-align: center;
   
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 15px;
}
.flogo img {
    width: 20%;
	float: right;
  
}

					/* About Page */

.aimg img {
    width: 25em;
    margin-top: 7%;
    margin-left: 30%;
}
.bio {
    width: 35%;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    background-color: #6E8890;
    top: 26%;
    right: 17%;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    color: #FFFFFF;
    font-size: 1em;
}
.aboutfooter {
    margin-top: 70px;
}

					/* Project Page */

.projectskills {
    background-color: #6E8890;
    color: #FFFFFF;
    width: 20%;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    display: block;
    margin-right: 23%;
    margin-top: 25px;
}
.carousel {
    margin-top: 70px;
}

.projectdis p {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.projectdis {
    color: #FFFFFF;
    width: 40%;
    display: block;
    margin-left: 20%;
    background-color: #374448;
    height: 14em;
}
.ptitle {
    margin-left: 22%;
    margin-top: 40px;
}
.imgwidth {
    width: 80%;
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.imgwidth6 {
    width: 33%;
}
.imgwidthll {
    width: 29%;
}

.imgwidth2 {
    width: 63%;
}
.videosl {
    margin-top: 69px;
    width: 70%;
    background-color: #B6C3C7;
}
.ytvid {
    width: 80%;
    padding-top: 6px;
    height: 37em;
    display: inline-block;
    margin-left: 10%;
    margin-right: auto;
}
.imgwidthps {
    width: 90%;
}
.imgwidthm {
    width: 62%;
}
.carousel {
    width: 70%;
}
#carouselExampleIndicators1 .carousel-control-prev .carousel-control-prev-icon {
    margin-left: 10%;
}
#carouselExampleIndicators1 .carousel-control-next .carousel-control-next-icon {
    margin-right: 10%;
}
.imgwidthps01 {
    width: 69%;
}
.imgwidth3 {
    width: 62%;
}

					/* Contact Page */

form {
    grid-column: col-start / span 12;
    grid-row: 2;
    color: #000000;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    margin-left: 5%;
}
.congrid {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 62px;
    height: 42.5em;
}
.con02 {
    background-color: #EDEDED;
    width: 100%;
    height: 100%;
}
.confooter {
    margin-top: 0px;
}

input {
    border-style: solid;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    font-family: electrolize;
    font-style: normal;
    font-weight: 400;
    border-width: thin;
    width: 20em;
}
.clearrow {
    width: 100%;
}

textarea {
    border: thin solid #000000;
    width: 20em;
    min-height: 7rem;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    font-family: electrolize;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
}
label {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 15px;
}
legend {
    margin-top: 15px;
}

.space {
    margin-top: 16px;
}

select {
    border: thin solid #070707;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    font-family: electrolize;
    font-style: normal;
    font-weight: 400;
    width: 20em;
}
#submit input {
    background-color: #374448;
    font-family: electrolize;
    font-style: normal;
    font-weight: 800;
    width: 9.7em;
    color: #FFFFFF;
    float: left;
    margin-right: 10px;
}
#submit {
    text-align: center;
    margin-bottom: 6px;
}
.hcon {
    margin-top: 4%;
    margin-left: 7%;
}
.imgcon {
    position: static;
    width: 50%;
    right: 5%;
    border-width: thin;
    display: block;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}



						/*animation for home page*/


.tilt-in-fwd-tr{-webkit-animation:tilt-in-fwd-tr .9s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tr .9s cubic-bezier(.25,.46,.45,.94) both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 16:56:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

.tilt-in-fwd-tr2{-webkit-animation:tilt-in-fwd-tr2 .9s cubic-bezier(.25,.46,.45,.94) .8s both;animation:tilt-in-fwd-tr2 .9s cubic-bezier(.25,.46,.45,.94) .8s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 16:59:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tilt-in-fwd-tr2{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tr2{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

.tilt-in-fwd-tl{-webkit-animation:tilt-in-fwd-tl .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tl .6s cubic-bezier(.25,.46,.45,.94) both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 17:21:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tilt-in-fwd-tl{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tl{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

.tilt-in-fwd-tl2{-webkit-animation:tilt-in-fwd-tl2 .6s cubic-bezier(.25,.46,.45,.94) .8s both;animation:tilt-in-fwd-tl2 .6s cubic-bezier(.25,.46,.45,.94) .8s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 17:24:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tilt-in-fwd-tl2{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tl2{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

.tilt-in-fwd-tl3{-webkit-animation:tilt-in-fwd-tl3 .6s cubic-bezier(.25,.46,.45,.94) 1.6s both;animation:tilt-in-fwd-tl3 .6s cubic-bezier(.25,.46,.45,.94) 1.6s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 17:24:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tilt-in-fwd-tl3{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tl3{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

.tilt-in-fwd-tr3{-webkit-animation:tilt-in-fwd-tr3 .9s cubic-bezier(.25,.46,.45,.94) 1.6s both;animation:tilt-in-fwd-tr3 .9s cubic-bezier(.25,.46,.45,.94) 1.6s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 16:59:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tilt-in-fwd-tr3{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tr3{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.01);
}



						/*animation for project page*/


.slide-in-blurred-tl{-webkit-animation:slide-in-blurred-tl .6s cubic-bezier(.23,1.000,.32,1.000) .5s both;animation:slide-in-blurred-tl .6s cubic-bezier(.23,1.000,.32,1.000) .5s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 14:57:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-blurred-tl{0%{-webkit-transform:translate(-1000px,-1000px) skew(80deg,10deg);transform:translate(-1000px,-1000px) skew(80deg,10deg);-webkit-transform-origin:100% 0;transform-origin:100% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translate(0,0) skew(0deg,0deg);transform:translate(0,0) skew(0deg,0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-tl{0%{-webkit-transform:translate(-1000px,-1000px) skew(80deg,10deg);transform:translate(-1000px,-1000px) skew(80deg,10deg);-webkit-transform-origin:100% 0;transform-origin:100% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translate(0,0) skew(0deg,0deg);transform:translate(0,0) skew(0deg,0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}


.slide-in-blurred-tr{-webkit-animation:slide-in-blurred-tr .6s cubic-bezier(.23,1.000,.32,1.000) .6s both;animation:slide-in-blurred-tr .6s cubic-bezier(.23,1.000,.32,1.000) .6s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 14:59:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-blurred-tr{0%{-webkit-transform:translate(1000px,-1000px) skew(-80deg,-10deg);transform:translate(1000px,-1000px) skew(-80deg,-10deg);-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translate(0,0) skew(0deg,0deg);transform:translate(0,0) skew(0deg,0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-tr{0%{-webkit-transform:translate(1000px,-1000px) skew(-80deg,-10deg);transform:translate(1000px,-1000px) skew(-80deg,-10deg);-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translate(0,0) skew(0deg,0deg);transform:translate(0,0) skew(0deg,0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}


						/*animation for about page*/

.slit-in-vertical{-webkit-animation:slit-in-vertical .45s ease-out 0s both;animation:slit-in-vertical .45s ease-out 0s both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 15:8:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}@keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}

.slit-in-diagonal-2{-webkit-animation:slit-in-diagonal-2 .45s ease-out both;animation:slit-in-diagonal-2 .45s ease-out both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-21 15:10:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slit-in-diagonal-2{0%{-webkit-transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}54%{-webkit-transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}100%{-webkit-transform:translateZ(0) rotate3d(-1,1,0,0);transform:translateZ(0) rotate3d(-1,1,0,0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes slit-in-diagonal-2{0%{-webkit-transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}54%{-webkit-transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}100%{-webkit-transform:translateZ(0) rotate3d(-1,1,0,0);transform:translateZ(0) rotate3d(-1,1,0,0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}


						/*animation for contact page*/

.puff-in-center{-webkit-animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-22 11:2:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}




@media (min-width: 992px){
	.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .navbar-nav.mr-auto {
    padding-top: 18px;
    position: absolute;
    right: 5%;
}
	
}

@media (max-width: 1024px){
	
								/* Media 1024px Project Page */
	
	.ytvid {
    height: 24em;
}
	.carousel {
    width: 75%;
}
	.projectskills {
    width: 30%;
    margin-right: 10%;
}
	.ptitle {
    margin-left: 13%;
}
	.projectdis {
    width: 60%;
    margin-left: 10%;
}

							/* Media 1024px Footer */
	
	
	.flogo img {
    width: 30%;
	float: right;
}
	hr {
	width: 150px;
}
	
							/* Media 1024px About Page */
	
	.aimg img {
    width: 25em;
    margin-top: 13%;
    margin-left: 11%;
}
	.bio {
    width: 45%;
    right: 5%;
    font-size: 0.8em;
}
	
							/* Media 1024px Contact Page */
	
	input {
    width: 15em;
}	
	textarea {
    width: 15em;
	}
	select {
    width: 15em;
}
	#submit input {
    width: 7.2em;
}
	.congrid {
    display: grid;
    grid-template-columns: 60% 40%;
}
	.imgcon {
    width: 90%;
    right: 5%;
}
	
}


@media (max-width: 575px){
	
						/* Media 575px Footer */
	
.fgrid p {
    font-size: small;
}
.fp img {
    width: 60px;
}
.fgrid {
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
	height: 125px;
}
.flogo img {
    width: 90px;
}
.crf {
    margin-top: 1px;
    font-size: x-small;
}
footer {
    margin-top: 77px;
    height: 150px;
	}
.aboutf{
	margin-top: px;
}
hr {
	width: 80px;
}

						/* Media 575px Home Page */

.mainhp {
    font-size: medium;
}
.mainlist {
    font-size: medium;
}
.main {
    margin-top: 69px;
}
	
						/* Media 575px About Page */

.bio {
    width: 90%;
    position: static;
    font-size: small;
}
.aimg img {
    width: 35%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
    margin-left: 32.5%;
    display: inline-block;
}
.ap {
    width: 100%;
    margin-top: 71px;
}
	
						/* Media 575px Project Page */

.carousel {
    width: 100%;
}
.projectdis {
    width: 85%;
    margin-left: 7.5%;
    font-size: small;
    height: auto;
}
.projectskills {
    width: 60%;
    margin-right: 10%;
    height: auto;
}
.ptitle {
    margin-left: 15%;
    font-size: x-large;
}
.videosl {
    width: 100%;
}
.ytvid {
    height: 11em;
}
	
						/* Media 575px Contact Page */
	
.congrid {
    display: block;
    height: auto;
    width: auto;
}
.con01 {
    width: 100%;
	height: 37em;
}
.con02 {
    
    display: none;

}
input {
    width: 80%;
}
select {
    width: 80%;
}
textarea {
    width: 80%;
}
#submit input {
	width: 38.5%;
}


}

